*.shp filter=lfs diff=lfs merge=lfs -text
*.gdbtable filter=lfs diff=lfs merge=lfs -text
*.sh; filter=lfs diff=lfs merge=lfs -text
data/electoral_districts/*.shp filter=lfs diff=lfs merge=lfs -text
data/statscan_dsa/data/geodatabase.gdb/*.gdbtable filter=lfs diff=lfs merge=lfs -text
data/*/*.csv filter=lfs diff=lfs merge=lfs -text
*.geojson filter=lfs diff=lfs merge=lfs -text
